@font-face {
    font-family: '1';
    src: url('1.ttf') format('opentype');
}

@font-face {
    font-family: 'Viaoda Libre';
    src: url("ViaodaLibre-Regular.ttf") format('opentype');
}

body {
    text-align: center;
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
    color: #2f2f2f;
    width: 100vw;
    font-family: "Viaoda Libre", serif;
}

.container {
    margin: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 10px;
}

input, select, button {
    width: 100%;
    padding: 10px;
}

.header-block {
    height: 100vh;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

img {
    pointer-events: none;
}

.header-img {
    width: 120%;
    height: auto;
    animation: shrink 2s ease-in-out forwards;
}

@keyframes shrink {
    from {
        width: 120%;
    }
    to {
        width: 100%;
    }
}

h1 {

    font-weight: 500;
    font-size: 2vw;
    letter-spacing: 0.3rem;
    margin: 1vw 0;
    padding: 0;
    width: 100%;
    font-style: normal;
}

.photo-container {
    width: 50vw;
    height: 28vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

h2 {
    position: relative;
    width: 100%;
    margin: 1vw 0 2vw 0;
    font-size: 2.5vw;
    font-family: "1", cursive;
    font-weight: 400;
    font-style: normal;
}

.line {
    width: 15vw;
    height: 0.1vw;
    background: #9a9a9a;
    margin: 1vw auto;
}

.date-block {
    width: 100%;
    margin-top: 1.5vw;
    font-size: 1.5vw;
    text-align: center;
}

.description-block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    background: no-repeat url("background-3.jpg") center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: fit-content;
    padding: 5vw 0;
}

.text-block {
    flex-wrap: wrap;
    display: flex;
    max-width: 45vw;
    text-align: center;
    justify-content: center;
    align-content: center;
}

h3 {
    font-size: 1.5vw;
    padding: 0;
    margin-top: 1vw;
    font-weight: 300;
}

.beautiful-text {
    font-family: '1', cursive;
    font-size: 3.5vw;
    font-weight: 300;
    color: #858585;
    margin-top: .5vw;
}

.calendar-block, .gift-block {
    display: flex;
    width: 100vw;
    position: relative;
    background: white;
    padding: 5vw 0;
    justify-content: center;
    height: fit-content;
    align-items: center;
    flex-wrap: wrap;
}

.gift-block {
    overflow: hidden;
}

#response-msg {
    width: 100%;
    position: absolute;
    bottom: 2.2vw;
    font-size: 1.5vw;
}

.main-text {
    width: 100%;
    margin-bottom: 2vw;
    letter-spacing: 0.5em;
    display: flex;
    justify-content: center;
    font-family: "Viaoda Libre", serif;
    font-size: 2vw;
    font-weight: 500;
}

.calendar {
    width: 20vw;
}

.eucalyptus {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 35vw;
}

.location-block, .counter-block {
    padding: 4vw 0;
    position: relative;
    flex-wrap: wrap;
    background: url("background-3.jpg") center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;

}

.main-image-container {
    width: 35vw;
    background: white;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    padding: 1vw;
}

.big-label {
    width: 100%;
    font-size: 2vw;
    margin-top: 1vw;
}

.little-label {
    width: 100%;
    font-size: 1.2vw;
    margin-bottom: 1vw;
}

.main-image-container img {
    width: 100%;
}

.left-bivak, .right-bivak {
    width: 18vw;
    top: 13vw;
    position: absolute;
    overflow: hidden;
}

.left-bivak {
    left: 14vw;
}

.right-bivak {
    right: 14vw;
}

.timing-block {
    padding: 5vw 0;
}

.date {
    width: 100%;
    font-size: 1.5vw;
}

.line-container {
    margin: 0.5vw 0;
    width: 100%;
}

.left-block {
    border-right: 0.1vw solid #2f2f2f;
}

.row {
    display: flex;
    padding: 0 4vw;
    justify-content: left;
    align-items: center;
    height: 10vw;
    text-align: left;
}

.time {
    font-size: 3vw;
}

.timing-container {
    width: 100%;
    font-size: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.icon-container {
    margin-right: 2vw;
}

.col {
    display: block;
    text-align: left;
}

.col .bt {
    padding-bottom: 0.5vw;
    margin-bottom: 0.5vw;
    border-bottom: 0.07vw solid #2f2f2f;
}

.col .st {
    font-size: 1.2vw;
}

button {
    border: none;
    padding: 0;
    outline: none;
    margin: 0;
    width: fit-content;
    cursor: pointer;
    background: none;
}


#countdown-container {
    font-size: 3vw;
}

th {
    width: 10vw;
    max-width: 10vw;
    min-width: 10vw;
    font-family: '1', cursive;
    font-size: 1.1vw;
    text-align: center;
    font-weight: 300;
}

.timing-block {
    position: relative;
}

.wine-img {
    width: 20vw;
    position: absolute;
    right: 3vw;
    bottom: 3vw;
}

.bouquet-img {
    width: 23vw;
    position: absolute;
    top: 0;
    right: 2vw;
}

.bouquet2-img {
    width: 25vw;
    position: absolute;
    bottom: 0;
    left: 0;
}

.acceptance-block {
    position: relative;
    display: flex;
    background: no-repeat url("background-3.jpg") center center fixed;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5vw 0;
    background: rgba(0, 128, 0, 0.12);
}

#rsvp-form {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    width: 40vw;
}

#rsvp-form label {
    font-size: 1.2vw;
    width: 100%;
    margin-bottom: 0.7vw;
    font-weight: 600;
}

#rsvp-form #attendance label {
    font-weight: 500;
}

#rsvp-form input {
    font-size: 1.2vw;
    width: 100%;
    border: none;
    border-bottom: 0.05vw solid #858585;
    background: transparent;
    outline: none;
    font-weight: 400;
    font-family: "Viaoda Libre", serif;
    margin-bottom: 2vw;
}

#attendance {
    width: 100%;
    margin-bottom: 2vw;
    margin-top: 1vw;
    accent-color: #2f2f2f;
}

#attendance .item {
    display: flex;
    width: 100%;
    height: 2vw;
    align-items: center;
    align-content: center;
    vertical-align: center;
    flex-wrap: nowrap;
}

#attendance .item input {
    width: 1vw;
    margin: auto 0.5vw auto 1vw;
    height: 1vw;
}

#attendance .item label {
    height: fit-content;
    line-height: 1;
    margin-bottom: 0;
}

.send-button {
    font-size: 1.2vw;
    justify-self: center;
    background: #2f2f2f;
    color: white;
    padding: 1vw 2.5vw;
    margin: 2vw auto;
}

.date-container {
    position: absolute;
    display: flex;
    width: 10vw;
    font-size: 6vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    left: 10vw;
    font-weight: 300;
}

.date-container .vertical-line {
    width: 0.1vw;
    height: 5vw;
    background: #2f2f2f;
}

.date-container .num {
    width: 100%;
}

video {
    filter: grayscale(1);
    width: 100vw;
    pointer-events: none;
}

.video-block {
    position: relative;
}

.video-block .text {
    text-align: left;
    top: 2vw;
    left: 15vw;
    color: white;
    position: absolute;
}

.video-block h1 {
    font-size: 2vw;
}

.video-block .beautiful-text {
    font-size: 2vw;
    color: #b9b9b9;
}

.video-block h2 {
    font-size: 3vw;
}

.video-block .line {
    margin: 1.5vw 0;
    width: 20vw;
}

.p1, .p2 {
    position: absolute;
    width: 20vw;
    border: 0.5vw solid white;
    box-shadow: 0.25vw 0.25vw 0.25vw rgb(196, 196, 196);
}

.p1 {

    top: 10vw;
    right: 5vw;
}

.p2 {
    top: 20vw;
    right: 7vw;

}

h2 svg {
    position: absolute;
    right: 13vw;
    top: -4vw;
    width: 3vw;
    height: 3vw;
}

.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
    z-index: 1000;
}

.preloader.hidden {
    opacity: 0;
    visibility: hidden;
}

.loader {
    width: 50px;
    height: 50px;
    border: 5px solid #ccc;
    border-top-color: #46690b;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.hidden-img {
    opacity: 0;
    transform: translateY(4vw);
    transition: transform 0.5s ease-out;
}

.visible-img {
    opacity: 1;
    transform: translateY(0);
}


/* Смещение левых и правых картинок */
.left-bivak {
    transform: translateX(-5vw);
    transition: transform 0.8s ease-out;
}

.left-bivak-active {
    transform: translateX(0);
}

.right-bivak {
    transform: translateX(5vw);
    transition: transform 0.8s ease-out;
}

.right-bivak-active {
    transform: translateX(0);
}

.timing-block .row {
    opacity: 0;
    transform: translateY(3vw);
    transition: transform 0.4s ease-out;
}

.timing-block .row.visible {
    opacity: 1;
    transform: translateY(0);
}


@media (max-width: 768px) {
    h1 {
        font-size: 3.5vw;
    }

    h2 {
        font-size: 5.5vw;
    }

    .photo-container {
        width: 100vw;
        height: 66vw;
    }

    .line {
        width: 36vw;
        height: 0.2vw;
        margin: 3vw auto;
    }

    .date-block {
        font-size: 3.5vw;
    }

    .text-block {
        max-width: 80vw;

    }

    h3 {
        font-size: 3vw;
    }

    .main-text {
        font-size: 4vw;
    }

    .beautiful-text {
        font-size: 5.5vw;
        margin-top: 2.5vw;
    }

    .visible-img {
        display: none;
    }

    .calendar, .eucalyptus {
        width: 43vw;
    }

    .date {
        font-size: 3.5vw;
    }

    .calendar-block, .gift-block, .description-block, .location-block, .counter-block, .timing-block, .acceptance-block {
        padding: 9vw 0;
    }

    .main-image-container {
        width: 74vw;
        padding: 3vw;
    }

    .left-bivak, .right-bivak {
        position: static;
        width: 38vw;
        margin: 4vw 2vw;
        overflow: hidden;
    }

    .big-label {
        font-size: 5vw;
        margin-top: 3vw;
    }

    .little-label {
        width: 100%;
        font-size: 3.2vw;
        margin-bottom: 3vw;
    }

    .timing-container .row img {
        width: 9vw;
    }

    .time {
        font-size: 7vw;
    }

    .row {
        padding: 0 4vw;
        height: 19vw;
    }

    .icon-container {
        margin-right: 5vw;
    }

    .col .bt, .row {
        font-size: 4.5vw;
    }

    .col .st {
        font-size: 2.5vw;
    }

    td {
        font-size: 9vw;
    }

    th {
        width: 20vw;
        max-width: 20vw;
        min-width: 20vw;
        font-size: 3vw;
    }

    .main-text {
        width: 62%;
        margin-left: 10vw;
    }

    .date-container {
        width: 11vw;
        font-size: 9vw;
        left: 8vw;
    }

    .date-container .vertical-line {
        width: 0.2vw;
        height: 12vw;
    }

    #rsvp-form {
        width: 50vw;
    }

    #rsvp-form label {
        font-size: 3vw;
        margin-bottom: 1.7vw;
    }

    #rsvp-form input {
        font-size: 3vw;
        margin-bottom: 5vw;
    }

    #attendance {
        margin-bottom: 5vw;
    }

    #attendance .item {
        height: 5vw;
    }

    #attendance .item input {
        width: 3vw;
        margin: auto 2.5vw auto 2vw;
        height: 3vw;
    }

    .send-button {
        font-size: 3.2vw;
        padding: 2vw 7.5vw;
        margin: 4vw auto;
    }

    .video-block h1 {
        font-size: 4vw;
    }

    .video-block .text {
        top: 6vw;
        left: 9vw;
    }

    .video-block .line {
        margin: 2.5vw 0;
        width: 54vw;
    }

    .video-block .beautiful-text {
        font-size: 4vw;
    }

    h2 svg {
        right: 23vw;
        top: -7vw;
        width: 5vw;
        height: 5vw;
    }

    .video-block h2 {
        font-size: 5vw;
        margin: 2vw 0 2vw 0;
    }

    .header-block {
        height: fit-content;
        text-align: center;
        padding: 9vw 0;
    }

    #response-msg {
        bottom: 2.2vw;
        font-size: 3.5vw;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 7.5vw;
    }

    .line {
        width: 61vw;
        height: 0.5vw;
        margin: 4vw auto;
    }

    h2 {
        font-size: 8.5vw;
        margin: 5vw 0 8vw;
    }

    .header-img {
        scale: 1.5;
    }

    .date-block {
        margin-top: 6.5vw;
        font-size: 5.5vw;
    }

    .calendar-block, .gift-block, .description-block, .location-block, .counter-block, .timing-block, .acceptance-block, .header-block {
        padding: 12vw 0;
    }

    h3 {
        font-size: 5vw;
    }

    .text-block {
        max-width: 90vw;
    }

    .main-text {
        font-size: 7vw;
        width: 90%;
        margin: 0 auto 12vw;
    }

    .beautiful-text {
        font-size: 10.5vw;
        right: 6vw;
        position: absolute;
        top: 18.5vw;
    }

    .calendar {
        width: 70vw;
        z-index: 2;
        background: rgba(255, 255, 255, 0.94);
        border-radius: 5vw;
        padding: 3vw;
        border: 0.5vw solid;
    }

    .eucalyptus {
        width: 88vw;
    }

    .date {
        font-size: 5.5vw;
    }

    .big-label {
        font-size: 6vw;
        margin-top: 5vw;
    }

    .little-label {
        width: 100%;
        font-size: 4vw;
        margin-bottom: 4vw;
    }

    .main-image-container {
        width: 80vw;
        padding: 5vw;
    }

    .left-bivak, .right-bivak {
        width: 41vw;
        margin: 7vw 3vw;
    }

    .bouquet-img {
        display: none;
    }

    .timing-container {
        flex-wrap: nowrap;
        width: 90%;
        margin: 17vw auto 4vw;
    }

    .row {
        padding: 0 5vw;
        line-height: 1;
        height: 30vw;
    }

    .col .st {
        font-size: 4vw;
    }

    .col .bt, .row {
        font-size: 6vw;
    }

    .col .bt {
        padding-bottom: 2vw;
        margin-bottom: 2vw;
        border-bottom: 0.1vw solid #2f2f2f
    }

    td {
        font-size: 12vw;
    }

    th {
        width: 22vw;
        max-width: 22vw;
        min-width: 22vw;
        font-size: 3.5vw;
    }

    .timing-container .row img {
        width: 11vw;
    }

    .beautiful-text {
        font-size: 12.5vw;
        right: 10vw;
        position: absolute;
        top: 26.5vw;
    }

    .date-container {
        display: none;
    }

    #rsvp-form {
        margin-top: 5vw;
        width: 80vw;
    }

    #rsvp-form label {
        font-size: 5vw;
        margin-bottom: 2.7vw;
    }

    #rsvp-form input {
        font-size: 5vw;
        margin-bottom: 8vw;
    }

    #attendance {
        margin-bottom: 10vw;
        margin-top: 2vw;
    }

    #attendance .item {
        height: 8vw;
    }

    .send-button {
        font-size: 5vw;
        padding: 3vw 15.5vw;
        margin: 4vw auto 7vw;
    }

    #response-msg {
        bottom: 4.2vw;
        font-size: 5vw;
    }

    .video-block h1 {
        font-size: 5vw;
    }

    .video-block .beautiful-text {
        position: static;
        font-size: 5vw;
    }

    .video-block h2 {
        font-size: 7vw;
        margin: 2vw 0 2vw 0;
    }

}